<!DOCTYPE html>
<html>
    <head>
        <title>Skills</title>
        <style> 
        body {
            background-color: #FAFCFB;
        }
        header {
            font-size: 60px;
            font-weight: bold;
            color: #733250;
            text-align: center;
            font-family: 'Montserrat', sans-serif;

        }
        ul {
    list-style-type: none;
    
}
 a{
    color :#C0614B
    
 }
        li {
            font-size: 30px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            color :#F9D4C1
        }

        </style>
    </head>
    <body>
       <header><h1>Skills</h1></header> 
        <ul>
        <% skills.forEach( (skill) => { %>
            <li>
            
           <a href ="/skills/<%= skill. id%>"><%= skill.name %></a>
           
                - 
            <%= skill. id%>
            <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST" >
                <a href="/skills/<%= skill.id %>/edit">Edit</a>

                <button type="submit">DEL</button>
                </form>
            </li>
        <% }); %>
        </ul>
        <a href="skills/new">Add to skills </a>
    </body>
  <html>